<div class="container">
    <h1>Edit a Product</h1>
    {{#each gig.errors}}
        <div class="alert alert-warning" role="alert">
            {{text}}
        </div>
    {{/each}}
    <form action="/gigs/{{gig.id}}?_method=PUT" method="POST">
        <div class="form-group">
            <label for="productName">Product Name</label>
            <input name="product_name" type="text" class="form-control" id="productName" placeholder="Product Name" value={{gig.product_name}}>
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <input name="category" type="text" class="form-control" id="category" placeholder="Category" value={{gig.category}}>
        </div>
        <div class="form-group">
            <label for="price">Price (Leave blank for unknown)</label>
            <input name="price" type="number" class="form-control" id="price" placeholder="eg. 500, 5000, 10000" value={{gig.price}}>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" class="form-control" id="description" rows="3">{{gig.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="emailAddress">Email Address</label>
            <input name="contact_email" type="email" class="form-control" id="emailAddress" placeholder="name@example.com" value={{gig.contact_email}}>
        </div>
        <div class="form-group">
            <label for="cover">Image Cover</label>
            <input name="cover" type="text" class="form-control" id="cover" placeholder="Enter a link to an image" value={{gig.cover}}>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
    <form action="/gigs/{{gig.id}}?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-danger edit-remove-btn">Remove</button>
    </form>
</div>