<div class="container">
    {{#if gig}}
        <div class="single_product">
            <h3>{{gig.product_name}}</h3>
            <img src="{{gig.cover}}" class="img-thumbnail rounded mx-auto d-block" alt="...">
            <p class="lead">{{gig.description}}</p>
            <p>Category: {{gig.category}}</p>
            <p>Price: {{gig.price}} <a href="mailto: {{gig.contact_email}}" class="btn btn-primary buy-btn">Contact to Buy</a></p>
            <form action="/gigs/{{gig.id}}?_method=DELETE" method="POST">
                <a href="/gigs/{{gig.id}}/edit" class="btn btn-warning">Edit</a>
                <button type="submit" class="btn btn-danger">Remove</button>
            </form>
        </div>
    {{else}}
        <p>No products available</p>
    {{/if}}
</div>