<div class="container">
    {{#if product}}
        <div class="single_product">
            <h3>{{product.product_name}}</h3>
            <img src="{{product.cover}}" class="img-thumbnail rounded mx-auto d-block" alt="...">
            <p class="lead">{{product.description}}</p>
            <p>Category: {{product.category}}</p>
            <p>Price: {{product.price}} <a href="mailto: {{product.contact_email}}" class="btn btn-primary buy-btn">Contact to Buy</a></p>
            <form action="/products/{{product.id}}?_method=DELETE" method="POST">
                <a href="/products/{{product.id}}/edit" class="btn btn-warning">Edit</a>
                <button type="submit" class="btn btn-danger">Remove</button>
            </form>
        </div>
    {{else}}
        <p>No products available</p>
    {{/if}}
</div>